/frontend
/backend/app.py
/backend/main.py
/backend/__pycache__/
/backend/session_logs/
backend/database/__pycache__/
backend/database/__init__.py
backend/Datasets/
backend/utils/__pycache__/
backend/venv/
/venv/
backend/agents/__pycache__/
venv/
temp_audio/
.env
env.example
backend/agents/__pycache__/
logs/
session_logs/
backend/database/
utils/__pycache__/
utils/__init__.py/

